:root {
  --backgroundGradient: linear-gradient(to right, #FFFFCC, pink 60%);
  --navbarBgColor: #FF7171;
}

*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: var(--backgroundGradient, white);
}

.page-container {
  height: 100vh;
}

.navbar-section {
  background-color: var(--navbarBgColor, white);
  width: 100%;
}

.navbar-section .navbar-item-container {
  min-height: 65px;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
}

.navbar-section .navbar-item-container .navbar-item .navbar-item-text {
  font-size: 1.4rem;
  font-weight: 700;

  letter-spacing: 3px;
  text-decoration: none;
  color: black;
}

.navbar-section .navbar-item-container .navbar-item img {
  width: 40px;
  aspect-ratio: 1/1;
}

.bottom-section {
  display: flex;
  height: calc(100% - 50px);
  font-family: Arial, Helvetica, sans-serif
}

.bottom-section .left {
  max-width: 50%;
  flex: 1;
  padding-inline: 100px;
  padding-block: 120px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.bottom-section .left .left-heading {
  font-size: 60px;
  letter-spacing: 4px;
  margin-bottom: 60px;
}

.bottom-section .left .left-description {
    letter-spacing: 3px;
    line-height: 26px;
    margin-bottom: 60px;
    font-size: 1.2rem
}

.bottom-section .right {
  flex: 1;
}

.bottom-section .right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  background-color: #FF7171;
  color: white;
  height: 55px;
  width: 220px;
  border: none;
  outline: none;

  padding-inline: 60px;
  padding-block: 10px;

  letter-spacing: 2px;
  cursor: pointer;
}

.page-container.page2 {
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.page-container.page2 .page2-left {
  display: flex;
  flex: 1;
  gap: 25px;
  width: 50%;
  padding-right: 100px;
}

.page-container.page2 .page2-right {
  flex: 1
}

.page-container.page2 .page2-left img {
  width: 100%;
  height: 100%;
}

.page-container.page2 .page2-left .left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between
}

.page-container.page2 .page2-left .left,
.page-container.page2 .page2-left .right {
  flex: 1;
}

.page-container.page2 .page2-left .left .top,
.page-container.page2 .page2-left .left .bottom {
  flex: 1;
}

.page-container.page2 .page2-left .left .top img,
.page-container.page2 .page2-left .left .bottom img {
  aspect-ratio: 1;
}

.page-container.page2 .page2-left .left .top img,
.page-container.page2 .page2-left .left .bottom img,
.page-container.page2 .page2-left .right img {
  object-fit: cover;
}

.page-container.page2 .page2-left .right img {
  height: 100%;
}

.card {
  background-color: #FF7171;
  padding: 35px;
  font-family: Arial, Helvetica, sans-serif;
}

.card .card-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.card .card-heading {
  font-size: 60px;
  margin-bottom: 20px;
}

.card .card-button {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}


@media (max-width: 1024px) {
  .page-container {
    height: 100%;
  }

  .bottom-section {
    flex-direction: column;
  }

  .bottom-section .left {
    max-width: 90%;
    padding-inline: 50px;
    padding-block: 60px;
  }

  .bottom-section .right {
    padding-inline: 50px;
  }

  .page-container.page2 {
    padding: 50px;
    flex-direction: column;
    gap: 50px;
  }

  .page-container.page2 .page2-left {
    gap: 25px;
    padding-right: 0;
    width: 100%;
  }
}